@media (min-width:576px) 
{
    #resultDayWindow
    {
        width: 65%;

    }
    .my-google-map .map-container{
          width: 800px;
          height: 600px;
        }
      
    

}
@media (max-width:575.8px) 
{
    #resultDayWindow
    {
        width: 100%;
    }
    .my-google-map .map-container{
        width: 800px;
        height: 600px;
      }
    
     

}