 #wetherSearchForm
{
    margin-top: 20px;
    border:1px solid #cecece;
    width: 65%;    
}
#weather-search-title
{
    padding-top: 20px;
    padding-bottom: 20px;
}
#search-form-content
{
    padding-bottom: 20px;
}
.form-group.required .col-form-label:after {
    content:"*";
    color:red;
  }
  
  .form-group.required #auto-detect-text:after {
    content:"*";
    color:red;
  }
#search-form-content
{
    width: 70%;
}
#clear-button
{
    margin-left: -150px;
}
.alert-danger {
    padding: 0%;
    background-color:transparent;
    color:red;
    border-color: transparent;
}
.form-control.ng-touched.ng-invalid {
    border-color: red;
  }

@media (max-width:575.98px) 
{
    #wetherSearchForm
    {
        width: 100%;    
    }
    #search-form-content 
    {
        width: 95%;
    }
    #clear-button
    {
    margin-left: 0px;
    }
} 