
<div class = "container border border-1 bg-light text-dark d-grid gap-1 d-flex justify-content-center rounded" id="wetherSearchForm">
    <div id="search-form-content">
        <div id="weather-search-title" class = "d-flex justify-content-center ">
            <h5>Weather Search 🌤</h5>
        </div>
        <form class = "d-grid gap-3 needs-validation" [formGroup]="searchForm" (ngSubmit)="onSubmit()" novalidate>   
            <div class="form-group row required">
              <label for="inputStreet" class="col-sm-3 col-form-label">Street</label>
              <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputStreet" formControlName="inputStreet" [pattern]="spaceOnlyPattern" >
                    <div *ngIf="searchForm.controls['inputStreet'].invalid && (searchForm.controls['inputStreet'].dirty || searchForm.controls['inputStreet'].touched)"
                        class="alert alert-danger">
                        <div *ngIf="searchForm.controls['inputStreet'].errors">
                            Please enter a valid street.
                        </div>
                    </div>
                    
              </div>
            </div>
            <div class="form-group row required">
                <label for="inputCity" class="col-sm-3 col-form-label">City</label>
                <div class="col-sm-9">
                     <input type="text" class="form-control" id="inputCity" formControlName="inputCity" >
                     <div *ngIf="searchForm.controls['inputCity'].invalid && (searchForm.controls['inputCity'].dirty || searchForm.controls['inputCity'].touched)"
                         class="alert alert-danger">
                         <div *ngIf="searchForm.controls['inputCity'].errors">
                             Please enter a valid city.
                         </div>
                     </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputState" class="col-sm-3 col-form-label">State</label>
                <div class="col-sm-4">
                    <select type="" class="form-control" id="inputState" formControlName="inputState" [value]="stateSelection">
                        <option  selecte value="">Select your state</option>
                        <option [value]="state.abbreviation" *ngFor="let state of states">{{state.name}}</option>
                    </select>
                </div>
           
            </div>
            
            <div class="form-group row required">
                <hr/>
                <div id = "auto-detect-text"class="col-sm-3">Auto-detect location</div>
                <div class="col-sm-9">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="inputCurrent" formControlName="inputCurrent" [checked]="isAutoDetected"  (change)="autoDetectOnCheck()">
                    <label class="form-check-label" for="inputCurrent">
                      Current Location
                    </label>
                  </div>
                </div>
            </div>
            <div class="container">
                <div class="form-group row justify-content-start">
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary" id="inputSubmit" 
                            [disabled] = "(searchForm.controls['inputCity'].invalid || searchForm.controls['inputCity'].invalid) && !isAutoDetected">
                            <i class="bi bi-search"></i>Search</button>
                    </div>
                    <div class="col-4" id="clear-button">
                        <button type="reset" class="btn btn-primary text-black bg-white" ><i class="bi bi-list-nested"></i>Clear</button>
                      </div>
                </div>
            </div>
            
        </form> 
    </div>
</div>
