@media (min-width:576px) 
{
    #dayViewTable
    {
        width: 65%;

    }

}
@media (max-width:575.8px) 
{
    #dayViewTable
    {
        width: 100%;
    }
    thead tr th
    {
        font-size: 11px;
    }

}
